.news-app{
    display:flex;
    justify-content: center;
}
.news-item {
    width: 500px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}
.article-image{
    width: 400px;
   
}

 .navbar {
  width: min(90%, 75rem);
  margin: 0 auto;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  

